<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radix Analyst Challange</title>    
</head>
<body>  
    <div id="app">
        <main role="main" class="container-fluid p-4">
            @RenderBody()
        </main>

        <footer class="border-top text-center footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - By Mateus Andre
            </div>
        </footer>
    </div>
    <script src="~/bundle/Src.js"></script>
</body>
</html>
